.pic {
  width: 293px; /*ширина*/
  height: 293px; /*высота*/
  background-color: red; /*цвет фона*/
  margin: 5px; /*отступы со всех сторон*/
}
.main {
  display: flex; /*применяем flexbox*/
  justify-content: space-around; /*распределяет на строке*/
}
img{
  width: 100%;
  height: 100%;
}
body {
  background-color: green;
}
@media (min-width: 400px) and (max-width: 600px) {
  body {
    background-color: purple;
  }
}
